nav {
    text-align: right;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
}

/*make these next two .nav wrapper li and .nav wrapper a to implement the main.js file */
nav li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}

nav a {
    color: black;
}

#menu-icon {
    display: none;
    position: fixed;
    top: -2px;
    right: 0;
    border-width: 0;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}


body {
  font-family: Montserrat, sans-serif;}

h1 {
    font-size: 40px;
    padding: 30px;
}

p {
    line-height: 28 px;
    font-size: 16px;
    margin-bottom: 2em;
}

section {
    margin-top:70px;
    height: 600px;
    padding: 50px 80px;
    background-size: cover;
    background-attachment: fixed;
}

#home {
    background: #ffffff;
 }

#about {
    background: #ece9e9;
}
#policy {
    background: #dfdbdb;
}

#contact {
    background: #c0bebe;
}

.img_home {
    position: static;
    left: 700px;
    top: 300px;
}

footer {
    font-size: 12px;
    padding: 10px 0;
}

/* Mobile Layout */

/*mobile - hide until click */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }
    
    nav li {
        display: block;
    }

    #menu-icon {
        display: block;
    }
}

