nav {
    text-align: right;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
}

/*make these next two .nav wrapper li and .nav wrapper a to implement the main.js file */
nav li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}

nav a {
    color: black;
}

/*
#menu-icon {
    display: none;
    position: relative;
    top: -2px;
    right: 0;
    border-width: 0;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}
*/

body {
  font-family: Montserrat, sans-serif;}

h1 {
    font-size: 40px;
    padding: 30px;
}

h2 {
    font-size: 20px;
    padding: 30px;
}

p {
    line-height: 28 px;
    font-size: 16px;
}

section {
    height: 400px;
    padding: 50px 80px;
}

header {
	display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 60px;
	line-height: 20px
	padding: 10px 0;
}

#home {
	background: #ffffff;
 }

#about {
    background: #ece9e9;
}
#policy {
    background: #dfdbdb;
}

#contact {
    background: #c0bebe;
}

footer {
    font-size: 12px;
    padding: 10px 0;
}


