nav {
    text-align: right;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
}

/*make these next two .nav wrapper li and .nav wrapper a to implement the main.js file */
nav li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}

nav a {
    color: black;
}

/*
#menu-icon {
    display: none;
    position: relative;
    top: -2px;
    right: 0;
    border-width: 0;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}
*/

body {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 40px;
    padding: 30px;
}

h2 {
    font-size: 20px;
    padding: 30px;
}

p {
    line-height: 28 px;
    font-size: 16px;
}

section {
    height: 400px;
    padding: 50px 80px;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 60px;
    line-height: 20px
}

#home {
    background: #ffffff;
 }

#about {
    background: #ece9e9;
}
#policy {
    background: #dfdbdb;
}

#contact {
    background: #c0bebe;
}


div.img_home {
   position: absolute;
}

footer {
    font-size: 12px;
    padding: 10px 0;
}

/* Mobile Layout */

/*mobile - hide until click */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }
    
    nav li {
        display: block;
    }

    #menu-icon {
        display: block;
    }
}
